body { background-color:#FCFFE7;
}
hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted ;
    border-width: 5px;
    height: 0px;
    width: 5%;
}
h1 {color:#3C6255;
    font-family:monospace;

}
h3 {color:#A6BB8D;
    font-family: fantasy;
 }
 h4{color: #61876E;
    font-family: cursive
    ;
}